* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Background of the entire design */
body {
  background-color: #272727;
}

/* Rules for the wrapper enclosing the environment */
#environment-wrapper {
  height: 100vh;
  width: 100vh;
  margin: auto;
  position: relative;
}


/* design of the 4 land corners of the road */
.land1 {
  /* Top left corner */
  /* position: fixed; */
  position: absolute;
  top: 0px;
  left: 0px;
  /* width: 30%; */
  width: 20%;
  height: 27.5%;
  background-color: #32AF3E;
  border-bottom: 10px solid #D2B48C;
  border-right: 10px solid #D2B48C;
  border-bottom-right-radius: 65px;

}

.land2 {
  /* Top right corner */
  /* position: fixed; */
  position: absolute;
  top: 0px;
  right: 0px;
  /* width: 30%; */
  width: 20%;
  height: 27.5%;
  background-color: #32AF3E;
  border-bottom: 10px solid #D2B48C;
  border-left: 10px solid #D2B48C;
  border-bottom-left-radius: 65px;
}

.land3 {
  /* bottom left corner */
  /* position: fixed; */
  position: absolute;
  bottom: 0px;
  left: 0px;
  /* width: 30%; */
  width: 20%;
  height: 27.5%;
  background-color: #32AF3E;
  border-top: 10px solid #D2B48C;
  border-right: 10px solid #D2B48C;
  border-top-right-radius: 65px;
}

.land4 {
  /* bottom right corner */
  /* position: fixed; */
  position: absolute;
  bottom: 0px;
  right: 0px;
  /* width: 30%; */
  width: 20%;
  height: 27.5%;
  background-color: #32AF3E;
  border-top: 10px solid #D2B48C;
  border-left: 10px solid #D2B48C;
  border-top-left-radius: 65px;
}


/* design of the intersection box*/
.intersection {
  position: absolute;
  /* margin-left: 36%; */
  /* margin-top: 15.2%; */
  /* width: 25%; */
  top: 30%;
  left: 25%;
  width: 50%;
  height: 40%;
  background-color: #272727;
  border: 7px solid #D9D9D9;
}

/* design of the intersection box lines*/
.intersectionline1{
  position: absolute;
  top: 60%;
  left: 13%;
  width: 1%;
  height: 49%;
  background-color: #D9D9D9;
  transform: rotate(130.3deg);
}

.intersectionline2{
  position: absolute;
  top: 15%;
  left: 30%;
  width: 1%;
  height: 104.5%;
  background-color: #D9D9D9;
  transform: rotate(129.3deg);
}

.intersectionline3{
  position: absolute;
  top: -32.5%;
  left: 48.8%;
  width: 1%;
  height: 163.5%;
  background-color: #D9D9D9;
  transform: rotate(128.3deg);
}

.intersectionline4{
  position: absolute;
  top: -21.5%;
  left: 68%;
  width: 1%;
  height: 108%;
  background-color: #D9D9D9;
  transform: rotate(129.3deg);
}

.intersectionline5{
  position: absolute;
  top: -11%;
  left: 85%;
  width: 1%;
  height: 51%;
  background-color: #D9D9D9;
  transform: rotate(129deg);
}

.intersectionline6{
  position: absolute;
  top: -13%;
  left: 16.8%;
  width: 1%;
  height: 59.9%;
  background-color: #D9D9D9;
  transform: rotate(52.5deg);
}

.intersectionline7{
  position: absolute;
  top: -21.7%;
  left: 32%;
  width: 1%;
  height: 109%;
  background-color: #D9D9D9;
  transform: rotate(52deg);
}

.intersectionline8{
  position: absolute;
  top: -31%;
  left: 49%;
  width: 1%;
  height: 163.5%;
  background-color: #D9D9D9;
  transform: rotate(51.6deg);
}

.intersectionline9{
  position: absolute;
  top: 11%;
  left: 65.2%;
  width: 1%;
  height: 112%;
  background-color: #D9D9D9;
  transform: rotate(52deg);
}

.intersectionline10{
  position: absolute;
  top: 54%;
  left: 81%;
  width: 1%;
  height: 58%;
  background-color: #D9D9D9;
  transform: rotate(53deg);
}



/* Top Road Divider */
.divider1 {
  position: absolute;
  top: 0px;
  left: 53%;
  width: 2%;
  height: 25%;
  background-color: #32AF3E;
  border-left: 5px solid #D2B48C;
  border-right: 5px solid #D2B48C;
  border-bottom: 5px solid #D2B48C;
  border-bottom-left-radius: 6.5px;
  border-bottom-right-radius: 6.5px;

}


/* Bottom Road Divider */
.divider2 {
  position: absolute;
  bottom: 0px;
  /* right: 53%; */
  left: 46%;
  width: 2%;
  height: 25%;
  background-color: #32AF3E;
  border-left: 5px solid #D2B48C;
  border-right: 5px solid #D2B48C;
  border-top: 5px solid #D2B48C;
  border-top-left-radius: 6.5px;
  border-top-right-radius: 6.5px;

}


/* Left Road Divider */
.divider3 {
  position: absolute;
  bottom: 52%;
  left: 0px;
  width: 18%;
  height: 2%;
  background-color: #32AF3E;
  border-bottom: 5px solid #D2B48C;
  border-right: 5px solid #D2B48C;
  border-top: 5px solid #D2B48C;
  border-top-right-radius: 6.5px;
  border-bottom-right-radius: 6.5px;

}


/* Right Road Divider */
.divider4 {
  position: absolute;
  top: 52%;
  right: 0px;
  width: 18%;
  height: 2%;
  background-color: #32AF3E;
  border-bottom: 5px solid #D2B48C;
  border-left: 5px solid #D2B48C;
  border-top: 5px solid #D2B48C;
  border-top-left-radius: 6.5px;
  border-bottom-left-radius: 6.5px;

}


/* Broken lines for the first section of the left side road */
.left-road-line1 {
  position: absolute;
  bottom: 62.7%;
  left: 0px;
  width: 3%;
  height: 0.75%;
  background-color: #D9D9D9;
}

.left-road-line2 {
  position: absolute;
  bottom: 62.7%;
  left: 8%;
  width: 5%;
  height: 0.75%;
  background-color: #D9D9D9;
}


/* Broken lines for the second section of the left side road */
.left-road-line3 {
  position: absolute;
  bottom: 43.7%;
  left: 8%;
  width: 5%;
  height: 0.75%;
  background-color: #D9D9D9;
}

.left-road-line4 {
  position: absolute;
  bottom: 43.7%;
  left: 0px;
  width: 3%;
  height: 0.75%;
  background-color: #D9D9D9;
}


.left-road-line5 {
  position: absolute;
  bottom: 34.7%;
  left: 8%;
  width: 5%;
  height: 0.75%;
  background-color: #D9D9D9;
}

.left-road-line6 {
  position: absolute;
  bottom: 34.7%;
  left: 0px;
  width: 3%;
  height: 0.75%;
  background-color: #D9D9D9;
}


/* Broken lines for the first section of the right side road */
.right-road-line1 {
  position: absolute;
  bottom: 64.3%;
  right: 0px;
  width: 3%;
  height: 0.75%;
  background-color: #D9D9D9;
}

.right-road-line2 {
  position: absolute;
  bottom: 64.3%;
  right: 8%;
  width: 5%;
  height: 0.75%;
  background-color: #D9D9D9;
}

.right-road-line3 {
  position: absolute;
  bottom: 55.7%;
  right: 8%;
  width: 5%;
  height: 0.75%;
  background-color: #D9D9D9;
}

.right-road-line4 {
  position: absolute;
  bottom: 55.7%;
  right: 0px;
  width: 3%;
  height: 0.75%;
  background-color: #D9D9D9;
}


/* Broken lines for the second section of the right side road */
.right-road-line5 {
  position: absolute;
  bottom: 36.4%;
  right: 8%;
  width: 5%;
  height: 0.75%;
  background-color: #D9D9D9;
}

.right-road-line6 {
  position: absolute;
  bottom: 36.4%;
  right: 0px;
  width: 3%;
  height: 0.75%;
  background-color: #D9D9D9;
}


/* Broken lines for the first section of the top side road */

.top-road-line1 {
  position: absolute;
  top: 2%;
  /* left: 35.7%; */
  left: 29%;
  width: 0.75%;
  height: 5%;
  background-color: #D9D9D9;
}

.top-road-line2 {
  position: absolute;
  top: 2%;
  /* left: 41.5%; */
  left: 37%;
  width: 0.75%;
  height: 5%;
  background-color: #D9D9D9;
}

.top-road-line3 {
  position: absolute;
  top: 2%;
  /* left: 47.15%; */
  left: 44.5%;
  width: 0.75%;
  height: 5%;
  background-color: #D9D9D9;
}

.top-road-line4 {
  position: absolute;
  top: 12%;
  /* left: 35.7%; */
  left: 29%;
  width: 0.75%;
  height: 5%;
  background-color: #D9D9D9;
}

.top-road-line5 {
  position: absolute;
  top: 12%;
  /* left: 41.5%; */
  left: 37%;
  width: 0.75%;
  height: 5%;
  background-color: #D9D9D9;
}

.top-road-line6 {
  position: absolute;
  top: 12%;
  /* left: 47.15%; */
  left: 44.5%;
  width: 0.75%;
  height: 5%;
  background-color: #D9D9D9;
}


/* Broken lines for the second section of the top side road */
.top-road-line7 {
  position: absolute;
  top: 2%;
  /* left: 61.5%; */
  left: 62.5%;
  width: 0.75%;
  height: 5%;
  background-color: #D9D9D9;
}

.top-road-line8 {
  position: absolute;
  top: 12%;
  /* left: 61.5%; */
  left: 62.5%;
  width: 0.75%;
  height: 5%;
  background-color: #D9D9D9;
}

.top-road-line9 {
  position: absolute;
  top: 2%;
  /* left: 61.5%; */
  left: 70.5%;
  width: 0.75%;
  height: 5%;
  background-color: #D9D9D9;
}

.top-road-line10 {
  position: absolute;
  top: 12%;
  /* left: 61.5%; */
  left: 70.5%;
  width: 0.75%;
  height: 5%;
  background-color: #D9D9D9;
}


/* Broken lines for the first section of the bottom side road */

.bottom-road-line1 {
  position: absolute;
  bottom: 2%;
  /* right: 61.8%; */
  left: 29%;
  width: 0.75%;
  height: 5%;
  background-color: #D9D9D9;
}

.bottom-road-line2 {
  position: absolute;
  bottom: 12%;
  /* right: 61.8%; */
  left: 29%;
  width: 0.75%;
  height: 5%;
  background-color: #D9D9D9;
}

.bottom-road-line3 {
  position: absolute;
  bottom: 2%;
  /* right: 61.8%; */
  left: 37%;
  width: 0.75%;
  height: 5%;
  background-color: #D9D9D9;
}

.bottom-road-line4 {
  position: absolute;
  bottom: 12%;
  /* right: 61.8%; */
  left: 37%;
  width: 0.75%;
  height: 5%;
  background-color: #D9D9D9;
}


/* Broken lines for the second section of the top side road */

.bottom-road-line5 {
  position: absolute;
  bottom: 2%;
  /* right: 35.7%; */
  left: 55%;
  width: 0.75%;
  height: 5%;
  background-color: #D9D9D9;
}

.bottom-road-line6 {
  position: absolute;
  bottom: 2%;
  /* right: 41.5%; */
  left: 63%;
  width: 0.75%;
  height: 5%;
  background-color: #D9D9D9;
}

.bottom-road-line7 {
  position: absolute;
  bottom: 2%;
  /* right: 47.15%; */
  left: 71%;
  width: 0.75%;
  height: 5%;
  background-color: #D9D9D9;
}

.bottom-road-line8 {
  position: absolute;
  bottom: 12%;
  /* right: 35.7%; */
  left: 55%;
  width: 0.75%;
  height: 5%;
  background-color: #D9D9D9;
}

.bottom-road-line9 {
  position: absolute;
  bottom: 12%;
  /* right: 41.5%; */
  left: 63%;
  width: 0.75%;
  height: 5%;
  background-color: #D9D9D9;
}

.bottom-road-line10 {
  position: absolute;
  bottom: 12%;
  /* right: 47.15%; */
  left: 71%;
  width: 0.75%;
  height: 5%;
  background-color: #D9D9D9;
}


