


#road {
    width: 100vw;
    height: 100vh;
    background-color: #808080;
    position:fixed;
  }
  
  #car {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 175px;
    left: 250px;
    animation: carMove 15s linear infinite;
  }
  #car2{
    margin-top: 25%;
    width: 70px;
    height: 50px;
    position: absolute;
    top: 175px;
    left: 250px;
    animation: carMove 17s linear infinite;
  }

  #car3{
    margin-left: 40%;
    width: 100px;
    height: 50px;
    position: absolute;
    top: -50px;
    left: 250px;
    transition: top 2s;
    animation: carmovetop 10s linear infinite;
  }
  
  @keyframes carmovetop{
    0%{top:0;}
    100%{top:100vw}
    300%{top:0;}
  }


  
  @keyframes carMove {
    0% { left: 0; }
    100% { left: 100vw; }
    300% { left: 0; }
  }
  
